.yui3-dd-drop-active-valid {
background-color: lightgrey;
}


.yui3-dd-drop-over {
border: 2px solid black;
}

.selectedFolderClass {
font-weight:bold;
}

#dtFolders {
width:100%;
border-collapse: separate;
}

.rdDraggableElement {
    cursor: move;
}

#dtSharedFolders {
width: 100%;
border-collapse: separate;
}

.InpUser {
width: 400px !important;
}

#dtFolders > tbody > tr td{
	height: 28px!important;
}
#dtFolders > tbody > tr td:nth-of-type(2n+1) img{
	display: none;
}
#dtFolders > tbody > tr td:nth-of-type(2n+1) img{
	height: 24px;
}
#dtFolders > tbody > tr:hover td:nth-of-type(2n+1) img{
	display: inline;
}

a, a:link {
text-decoration: none !important;
}