<?xml version="1.0" encoding="utf-8"?>
<Setting
	ID="_settings"
	>
	<Application
		Caption="OpenDSP Admin Reporting Center"
		DefaultReport="ReportMenuCenter"
	/>
	<Path
		AppPath="http://localhost:8080/biadmin"
	/>
	<General
		CookieExpiration="15"
		DataCacheLocation="@Function.AppPhysicalPath~\rdDataCache"
		DoctypeDeclaration="Html5"
		LogErrors="True"
		rdDebuggerStyle="DebuggerLinks"
		RepoFriendly="True"
		ScriptingLanguage="JavaScript"
		SqlInjectionGuard="False"
	/>
	<Connections>
		<Connection
			ID="OpenDSP"
			MySqlDatabase="stat"
			MySqlPort=""
			MySqlServer="db.opencmo.example.com"
			MySqlPassword="password"
			MySqlUser="user"
			Type="MySql"
		/>
		<Connection
			ConnectionString="JdbcDriverClassName=com.mysql.jdbc.Driver;JdbcURL=jdbc:mysql://db.opencmo.example.com:3306/opendsp?user=user&amp;password=password;allowMultiQueries=true&amp;autocommit=false"
			ID="OpenDSP.JDBC"
			Type="JDBC"
			>
			<StudioConnection>
				<Connection
					ID="OpenDSP_jdbc"
					MySqlConnectionString="Server=db.opendsp.com;Database=opendsp;Uid=username;Pwd=password;Allow User Variables=true"
					MySqlDatabase="opendsp"
					MySqlPassword="password"
					MySqlPort=""
					MySqlServer="db.opencmo.example.com"
					MySqlUser="user"
					Type="MySql"
				/>
			</StudioConnection>
		</Connection>
		<Connection
			ID="connScheduler"
			PassKey="myKey"
			Type="Scheduler"
		/>
		<Connection
			ID="connEmail"
			SmtpAuthenticationAccount="smtp_user"
			SmtpAuthenticationMethod="3"
			SmtpAuthenticationPassword="smtp_password"
			SmtpPort="587"
			SmtpServer="smtp.opencmo.example.com"
			Type="Smtp"
		/>
		<Connection
			ID="DEVconnEmail"
			SmtpAuthenticationAccount="smtp_user_dev"
			SmtpAuthenticationMethod="1"
			SmtpAuthenticationPassword="smtp_password_dev"
			SmtpPort="25"
			SmtpServer="smtp.opencmo.example.com"
			Type="Smtp"
		/>
		<Connection
			ConnectionString="JdbcDriverClassName=com.mysql.jdbc.Driver;JdbcURL=jdbc:redshift://redshift.opencmo.example.com:5439/dw"
			ID="REDshift"
			Type="JDBC"
			>
			<StudioConnection>
				<Connection
					ID="rs"
					RedshiftDatabase="dw"
					RedshiftPort="5439"
					RedshiftServer="redshift.opencmo.example.com"
					RedshiftUser="user"
					RedshiftPassword="password"
					Type="Redshift"
				/>
			</StudioConnection>
		</Connection>
		<Connection
			ID="rs"
			RedshiftDatabase="dw"
			RedshiftPassword="password"
			RedshiftPort="5439"
			RedshiftServer="redshift.opencmo.example.com"
			RedshiftUser="user"
			Type="Redshift"
		/>
	</Connections>
	<TeamDevelopment/>
	<GlobalCSS
		ID="themeTransit"
		Theme="Transit"
	/>
	<Globalization
		UserCulture="en-US"
	/>
	<ideTestParams/>
</Setting>
